<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="text/html" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/reset.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
  </head>

  <footer class="site_footer">
    <div class="footer_logo"><img src="/images/forge-ltblue.png" /></div>
    <div class="footer_col1">
      <h1>Contact</h1>
      <p>Address</p>
      <p>Email</p>
      <p>Phone #</p>
    </div>
    <div class="footer_col2">
      <h1>Social Media</h1>
      <p>Twitter</p>
      <p>Facebook</p>
      <p>Youtube</p>
    </div>
    <div class="footer_col3">
      <h1>Copyright 2022</h1>
      <p>Privacy Policy</p>
      <p>Other Shtuff</p>
    </div>
  </footer>
</html>
