<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/reset.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <link
      rel="icon"
      type="image/x-icon"
      href="/images/favicon_io/favicon.ico"
    />
    <title>Document</title>
  </head>
  <%- include("navbarLI") %>

  <body class="income_form_content">
    <h1><%= title %></h1>
    <form class="iForm" action="" method="POST">
      <input type="text" name="name" placeholder="Unique Name" />
      <input type="text" placeholder="Description" name="description" />
      <select id="from" name="from">
        <option value="Job">Job</option>
        <option value="Gift">Gift</option>
        <option value="Investment">Investment</option>
        <option value="Savings">Savings</option>
        <option value="Other">Other</option>
      </select>
      <input type="date" name="date" />
      <input
        type="number"
        name="amount"
        step="0.01"
        required="true"
        placeholder="Total"
      />
      <input type="hidden" name="author" value="<%= authorID %>" />
      <input id="iForm_submit" type="submit" value="Submit Income" />
    </form>
  </body>
</html>
