<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script
      src="https://kit.fontawesome.com/9b6b4f0fa1.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <%- include("navbar"); -%>

  <div class="index_header">
    <h1 id="headerTitle">
      Keep your finances organized! Be smart with your money. Join the
      <strong>Forge</strong>, the easy financial organizer.
    </h1>
    <p id="headerText">Create a login and get started!</p>
    <a id="header_signupBtn" href="#">Signup</a>
    <img
      id="headerImg"
      src="images/financeClearBG.png"
      alt="financial paraphenalia"
    />
    <a id="index_imgCaption" href="https://pngtree.com/so/Financial"
      >Financial png from pngtree.com/</a
    >
  </div>
  <div class="index_body">
    <div class="index_bodyBox box1">
      <i class="fa-solid fa-eye elem_i"></i>
      <h1 class="bodyBox_h1">Monitor</h1>
      <p class="bodyBox_p">Monitor your spending habits</p>
    </div>
    <div class="index_bodyBox box2">
      <i class="fa-solid fa-comments-dollar elem_i"></i>
      <h1 class="bodyBox_h1">Plan</h1>
      <p class="bodyBox_p">Help budget your income and expenditures</p>
    </div>
    <div class="index_bodyBox box3">
      <i class="fa-solid fa-chart-line elem_i"></i>
      <h1 class="bodyBox_h1">Track</h1>
      <p class="bodyBox_p">Track all your financial data!</p>
    </div>
  </div>
</html>
