<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>
      Welcome to <%= title %> this website is to help catalog and track
      spendings, savings, and finances. To better help you organize your
      finances.
    </p>
  </body>
</html>
