<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/reset.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <link
      rel="icon"
      type="image/x-icon"
      href="/images/favicon_io/favicon.ico"
    />
    <script
      src="https://kit.fontawesome.com/9b6b4f0fa1.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <% if(authCheck){ %> 
    <%- include("navbarLI") %> 
    <% } else { %> 
    <%- include("navbar") %> 
   <% } %>
   
    <header class="index_header">
      <h1 id="headerTitle">
        Keep your finances organized! Join the
        <strong>Forge</strong>.
      </h1>
      <p id="headerText">Create a login and get started!</p>
      <a id="header_signupBtn" href="/catalog/user/create">Signup</a>
      <img
        id="headerImg"
        src="images/financeClearBG.png"
        alt="financial paraphenalia"
      />
      <a id="index_imgCaption" href="https://pngtree.com/so/Financial"
        >Financial png from pngtree.com/</a
      >
    </header>

    <main class="index_body">
      <div class="index_bodyBox box1">
        <i class="fa-solid fa-eye"></i>
        <h1 class="bodyBox_h1">Monitor</h1>
        <p class="bodyBox_p">Monitor your spending habits</p>
      </div>
      <div class="index_bodyBox box2">
        <i class="fa-solid fa-comments-dollar"></i>
        <h1 class="bodyBox_h1">Plan</h1>
        <p class="bodyBox_p">Budget your finances</p>
      </div>
      <div class="index_bodyBox box3">
        <i class="fa-solid fa-chart-line"></i>
        <h1 class="bodyBox_h1">Track</h1>
        <p class="bodyBox_p">Track all your financial data!</p>
      </div>  
    </main>
</html>
