<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/reset.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <script
      src="https://kit.fontawesome.com/9b6b4f0fa1.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <a
    href="javascript:void(0)"
    onclick="myFunction()"
    class="fa-solid fa-bars"
  ></a>

  <nav class="navbar">
    <a href="/" id="logo"
      ><img id="navLogo" src="/images/forge-ltblue.png" alt="Logo" />
    </a>

    <div class="myLinks">
      <a id="linkHome" href="/"> Home </a>
      <a id="linkReceipt" href="/catalog/receipts"> Expenses </a>
      <a id="linkIncome" href="/catalog/incomes"> Income </a>
      <a id="linkSummary" href="/catalog/summary"> Summary </a>
      <a id="userIcon" href="/catalog/user/<%= authorID %>"><%= authUser %></a>
      <a id="logout" href="/catalog/logout">Logout</a>
    </div>
  </nav>

  <script>
    var hamburger = document.querySelector(".fa-bars");
    var x = document.querySelector(".myLinks");
    var navbar = document.querySelector(".navbar");
    var phoneSize = window.matchMedia("(min-width: 428px)");
    var ipadSize = window.matchMedia("(min-width: 810px)");
    var desktopMin = window.matchMedia("(min-width: 1280px");
    var desktopMin = window.matchMedia("(min-width: 1920px");
    var desktopMax = window.matchMedia("(min-width: 3840px)");
    var width = window.innerWidth;

    if (width >= 1024) {
      hamburger.style.display = "none";
    }

    function myFunction() {
      if (x.style.display == "grid" && width <= 1024) {
        x.style.display = "none";
        navbar.style.display = "none";
      } else {
        x.style.display = "grid";
        navbar.style.height = "100vh";
        navbar.style.display = "grid";
        navbar.style.backgroundColor = "rgb(48,53,61, 0.98)";
        x.style.marginTop = "60px";
      }
    }
    if (width <= 1024) {
      window.onclick = function (e) {
        if (e.target != navbar && e.target != hamburger) {
          x.style.display = "none";
          navbar.style.display = "none";
        }
      };
    }
  </script>
</html>
