<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <header>
    <nav class="navbar">
      <h1 class="navTitle">F<span>org</span>e</h1>
      <img class="navLogo" src="/images/forge.png" alt="Logo" />
      <a class="linkHome" href="/"> Home </a>
      <a class="linkReceipt" href="/catalog/receipts"> Expenses </a>
      <a class="linkIncome" href="/catalog/incomes"> Income </a>
      <a class="linkSummary" href="/catalog/summary"> Summary </a>
      <a class="signIn" href="#"> Sign In </a>
      <a class="signUp" href="/catalog/user/create"> Sign Up </a>
    </nav>
  </header>
</html>
