<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/reset.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
    rel="icon"
    type="image/x-icon"
    href="/images/favicon_io/favicon.ico"
  />
    <title>Receipt Deletion</title>
  </head>

  <% if(authCheck){ %> 
    <%- include("navbarLI") %> 
    <% } else { %> 
    <%-include("navbar") %> 
   <% } %>

  <body class="receipt_delete">
    <h1>Confirm Receipt Deletion</h1>
    <form action="" method="POST">
      <input type="hidden" name="receiptid" value="<%= results._id %>" />
      <button type="submit">Delete</button>
    </form>
  </body>
</html>
