<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Receipt Form</title>
  </head>
  <%- include("navbarLI") %>
  <h1><%= title %></h1>
  <body>
    <form action="" method="POST">
      <input type="text" placeholder="Name" name="name" />
      <input type="text" placeholder="Description" name="description" />
      <input type="radio" id="debit" name="paymentType" value=" Debit" />
      <label for="debit">Debit</label>
      <input type="radio" id="credit" name="paymentType" value="Credit" />
      <label for="credit">Credit</label>
      <input type="radio" id="cash" name="paymentType" value=" Cash" />
      <label for="cash">Cash</label>
      <input type="radio" id="check" name="paymentType" value=" Check" />
      <label for="check">Check</label>
      <input type="radio" id="giftcard" name="paymentType" value="Gift Card" />
      <label for="giftCard">Gift Card</label>
      <input
        type="radio"
        id="banktransfer"
        name="paymentType"
        Value="Bank Transfer"
      />
      <label for="banktransfer">Bank Transfer</label>
      <input type="text" placeholder="Card Name" name="ccName" />
      <input type="date" name="date" />
      <label>Total:</label>
      <input type="number" name="total" step="0.01" required="true" />
      <input type="hidden" name="author" value="authorID" />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
