<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/reset.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <link
      rel="icon"
      type="image/x-icon"
      href="/images/favicon_io/favicon.ico"
    />
    <title>Receipt Form</title>
  </head>
  <%- include("navbarLI") %>

  <h1><%= title %></h1>
  <body class="expense_form_content">
    <form class="eForm" action="" method="POST">
      <input type="text" placeholder="Name" name="name" />
      <input type="text" placeholder="Description" name="description" />
      <div class="eForm_radio">
        <input type="radio" id="debit" name="paymentType" value=" Debit" />
        <label for="debit">Debit</label>
        <input type="radio" id="credit" name="paymentType" value="Credit" />
        <label for="credit">Credit</label>
        <input type="radio" id="cash" name="paymentType" value=" Cash" />
        <label for="cash">Cash</label>
        <input type="radio" id="check" name="paymentType" value=" Check" />
        <label for="check">Check</label>
        <input
          type="radio"
          id="giftcard"
          name="paymentType"
          value="Gift Card"
        />
        <label for="giftCard">Gift Card</label>
        <input
          type="radio"
          id="banktransfer"
          name="paymentType"
          Value="Bank Transfer"
        />
        <label for="banktransfer">Bank Transfer</label>
      </div>

      <input type="text" placeholder="Card Name" name="ccName" />
      <select id="category" name="category">
        <option value="Null">Category</option>
        <option value="Food">Food</option>
        <option value="Entertainment">Entertainment</option>
        <option value="House">House</option>
        <option value="Car">Car</option>
        <option value="Work">Work</option>
        <option value="Clothing">Clothing</option>
        <option value="Pet">Pet</option>
        <option value="Self-Care">Self-Care</option>
      </select>
      <input type="date" name="date" />
      <input
        type="number"
        name="total"
        step="0.01"
        required="true"
        placeholder="Total"
      />
      <input type="hidden" name="author" value="<%= authorID %>" />
      <input id="eForm_submit" type="submit" value="Submit" />
    </form>
  </body>
</html>
