<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <link
      rel="icon"
      type="image/x-icon"
      href="/images/favicon_io/favicon.ico"
    />
    <link rel="stylesheet" type="text/css" href="/stylesheets/reset.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <title>Document</title>
  </head>

  <% if(authCheck){ %> <%- include("navbarLI") %> 
  <% } else { %>
  <%-include("navbar") %> 
  <% } %>

  <div class="signup_body">
    <h1 id="signup_title">Create Login</h1>

    <% if(typeof errors !== "undefined") { %>
      <h1 id="error_report"><strong>ERROR:</strong> <%= errors %></h1>
      <% }%>
      
    <form class="signup_form" action="" method="POST">
      <label id="userNameLabel" for="userName">User Name: </label>
      <input
        type="text"
        name="userName"
        id="userName"
        placeholder="User Name"
      />
      <label id="passLabel" for="pass">Password: </label>
      <input type="password" id="pass" name="userPass" placeholder="*******" />
      <label id="fNameLabel" for="fName">First Name</label>
      <input type="text" id="fName" name="firstName" placeholder="Jacob" />
      <label id="lNameLabel" for="lName">Last Name: </label>
      <input type="text" name="lastName" id="lName" placeholder="Smith" />
      <label id="emailLabel" for="email">Email: </label>
      <input
        type="email"
        id="email"
        name="email"
        placeholder="JacobSmith21@email.com"
      />
      <label id="bDayLabel" for="bDay">Birthday: </label>
      <input type="date" id="bDay" name="birthDay" />
      <input id="signupSubmit" type="submit" value="Submit" />
    </form>
    <div class="signup_signin">
      <p>Already signed up?</p>
      <a href="/catalog/user/login">Login Here</a>
    </div>
  </div>
  <script>
    const errRep = document.getElementById("error_report");
    const body = document.querySelector(".signup_body");

    if(!errRep){
      body.classList.remove("signup_bodyWithErr");
    } else {
      body.classList.add("signup_bodyWithErr");
    }

  </script>
</html>
