<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign In</title>
</head>
<%- include("navbar") %>
<div class="login_body">
  <h2 class="login_title">To get started you must first login</h2>
    <form class="login_form">
      <label id="login_userLabel"for="userName">User Name: </label>
      <label id="login_passLabel" for="passCode">User Name: </label>
      <input id="login_userName" type="text" placeholder="Username" name="userName" />
      </br>
     <input id="login_pass" type="password" placeholder="******" name="passCode" />
     </br>
      <button id="login_submit" type="submit">Submit</button>
    </form>
    <div class="login_SignUp">
      <p id="login_notReg">Don't have a login? Create One...</p>
      <a id="login_signUp" href="/catalog/user/create">Sign Up</a>
    </div>
  </div>
</html>