<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link
  rel="icon"
  type="image/x-icon"
  href="/images/favicon_io/favicon.ico"
/>
<link rel="stylesheet" type="text/css" href="stylesheets/reset.css" />
<link rel="stylesheet" type="text/css" href="stylesheets/style.css" />
  <title>Sign In</title>
</head>

<% if(authCheck){ %> 
  <%- include("navbarLI") %> 
  <% } else { %> 
  <%-include("navbar") %> 
 <% } %>

<div class="login_body">

  <h2 class="login_title"> <%= message %></h2>
    <form action="" method="POST" class="login_form">
      <label id="login_userLabel"for="userName">User Name: </label>
      <label id="login_passLabel" for="userPass">Password: </label>
      <input id="login_userName" type="text" placeholder="Username" name="userName" />
      </br>
     <input id="login_pass" type="password" placeholder="******" name="userPass" />
     </br>
      <input id="login_submit" type="submit" value="Submit"/>
    </form> 

    <div class="login_SignUp">
      <p id="login_notReg">Don't have a login? Create One...</p>
      <a id="login_signUp" href="/catalog/user/create">Sign Up</a>
    </div>

  </div>
</html>