html {
  margin: 0;
  width: 100%;
  background-color: #f6feff;
}
body {
  font: 15px "Lucida Grande", Helvetica, Arial, sans-serif;
}
/*NAVBAR Global STYLING*/
.navbar {
  display: grid;
  grid-template-rows: [row1] 100%;
  grid-template-columns: [navtitle] 64% [link1] 6% [link2] 6% [link3] 6% [link4] 6% [link5] 6% [link6] 6%;
  grid-template-areas: "navtitle link1 link2 link3 link4 link5 link6";
  margin: 20px 75px 0px 75px;
  height: 50px;
  place-items: center;
}
.navLogo {
  grid-area: navtitle;
  height: 50px;
  width: 50px;
  justify-self: start;
  align-self: center;
  margin-left: 75px;
  border-radius: 25px;
}
.navbar a {
  text-decoration: none;
  font-size: 16px;
}
.navbar a:hover {
  color: #355ec4;
}
.navTitle {
  align-self: center;
  font-size: 30px;
  grid-area: navtitle;
  margin: 0px 0px 0px 125px;
  justify-self: start;
  color: #355ec4;
  -webkit-text-stroke: 1px #4edff9;
}
.navTitle span {
  color: #4edff9;
}
.linkHome {
  grid-area: link1;
  justify-self: start;
  color: #16253d;
}
.linkReceipt {
  grid-area: link2;
  justify-self: start;
  color: #16253d;
}
.linkIncome {
  grid-area: link3;
  justify-self: start;
}
.linkSummary {
  grid-area: link4;
  justify-self: start;
  color: #16253d;
}
.signIn {
  grid-area: link5;
  justify-self: center;
  color: #16253d;
}
.signUp {
  grid-area: link6;
  color: #4edff9;
  border: 1px solid #4edff9;
  border-radius: 20px;
  padding: 20px;
  justify-self: start;
}
.signUp:hover {
  border: 1px solid #355ec4;
}
/* Footer Global*/
.site_footer {
  display: grid;
  grid-template-columns: [col1] 25% [col2] 25% [col3] 25% [col4] 25%;
  grid-template-rows: [row1] 100%;
  grid-template-areas: "fLogo fCol1 fCol2 fCol3";
  margin: 60px 75px 0px 75px;
}
.footer_logo {
  grid-area: fLogo;
  place-self: center;
}
.footer_logo img {
  height: 200px;
  width: 245px;
}
.footer_col1 {
  grid-area: fCol1;
}
.footer_col2 {
  grid-area: fCol2;
}
.footer_col3 {
  grid-area: fCol3;
}

/* Index Page*/
.index_body i {
  font-size: 25px;
  background-color: #4edff9;
  color: #355ec4;
  padding: 15px;
  border-radius: 25px;
}
.index_header {
  display: grid;
  grid-template-rows: [row1] 60% [row2] 30% [row3] 10%;
  grid-template-columns: [col1] 50% [col2] 50%;
  grid-template-areas:
    "headerTitle  headerImg"
    "headerSignup headerImg"
    ".  headerCapt";
  background-color: white;
  margin: 20px 75px 0px 75px;
  max-height: 85vh;
}
.index_header #headerImg {
  grid-area: headerImg;
  max-width: 50vw;
  max-height: 70vh;
  justify-self: center;
}
.index_header #headerTitle {
  grid-area: headerTitle;
  align-self: end;
  padding-left: 75px;
}
.index_header #index_signupBar {
  border: 1px solid black;
}
.index_header #index_imgCaption {
  grid-area: headerCapt;
  place-self: center;
}
.index_header #headerText {
  grid-area: headerSignup;
  font-size: 18px;
  justify-self: center;
  align-self: start;
  padding-right: 75px;
}
.index_header #header_signupBtn {
  grid-area: headerSignup;
  color: white;
  border: 1px solid #ffec03;
  text-decoration: none;
  background-color: #ffa603;
  padding: 14px;
  border-radius: 25px;
  justify-self: center;
  align-self: start;
  margin-left: 275px;
}
.index_header #header_signupBtn:hover {
  background-color: #ffec03;
  color: black;
  border: 1px solid #ffa603;
}
.index_body {
  display: grid;
  grid-template-rows: [row1] 100%;
  grid-template-columns: [col1] 33.34% [col2] 33.34% [col3] 33.34%;
  grid-template-areas: "bodyBox1 bodyBox2 bodyBox3";
  margin: 30px 75px 0px 75px;
}
.index_bodyBox {
  display: grid;
  grid-template-rows: [row1] 70% [row2] 30%;
  grid-template-columns: [col1] 30% [col2] 70%;
  grid-template-areas:
    "elemI bodyBoxH1"
    "elemI bodyBoxP";
  row-gap: 0px;
}
.bodyBox_h1 {
  grid-area: bodyBoxH1;
  justify-self: start;
  font-size: 25px;
  align-self: end;
}
.index_body p {
  grid-area: bodyBoxP;
  padding: 0px 0px 40px 0px;
  margin: 0px 0px 40px 0px;
  justify-self: start;
  align-self: start;
  font-size: 14px;
}
.elem_i {
  grid-area: elemI;
  place-self: center;
}
.box1 {
  grid-area: bodyBox1;
  background-color: white;
  border-right: 2px solid rgba(128, 128, 128, 0.479);
}
.box2 {
  grid-area: bodyBox2;
  background-color: white;
  border-right: 2px solid rgba(128, 128, 128, 0.479);
}
.box3 {
  grid-area: bodyBox3;
  background-color: white;
}
/*Receipt Page*/
.receiptHeader {
  display: grid;
  grid-template-rows: [row1] 50% [row2] 50%;
  grid-template-columns: [col1] 50% [col2] 50%;
  grid-template-areas:
    "rHeaderH1 rHeaderImg"
    "rHeaderP rHeaderImg";
  margin: 20px 75px 0px 75px;
  max-height: 85vh;
}
.receiptBody_total {
  margin: 20px 75px 20px 75px;
  padding-top: 10px;
  border-top: 1px solid black;
}
.receiptBody_create {
  margin: 50px 75px 0px 75px;
  padding: 10px;
  border: 1px solid transparent;
  text-decoration: none;
  background-color: #ffa603;
  color: white;
  border-radius: 20px;
}
.receiptBody_create:hover {
  color: black;
  background-color: #4edff9;
}
.receiptHeader_img {
  grid-area: rHeaderImg;
  height: 60vh;
  width: 40vw;
}
.receiptHeader_p {
  grid-area: rHeaderP;
  justify-self: center;
  align-self: start;
  font-size: 17px;
}
.receiptHeader_h1 {
  grid-area: rHeaderH1;
  align-self: end;
  justify-self: center;
  font-size: 35px;
  color: #355ec4;
  -webkit-text-stroke: 1px #4edff9;
}
.receiptBody {
  display: grid;
  grid-template-columns: [col1] 33% [col2] 33% [col3] 33%;
  margin: 50px 75px 0px 75px;
}
.receiptBody a {
  text-decoration: none;
}
.receiptBody_list {
  display: grid;
  grid-template-columns: [col1] 35% [col2] 65%;
  grid-template-rows: [row1] 33% [row2] 33% [row3] 33%;
  grid-template-areas:
    "rBodyImg rBodyTitle"
    "rBodyImg rBodyAmt"
    "rBodyImg .";
  margin: 0px 5px 5px 0px;
  max-height: 60vh;
  border: 1px solid gray;
  overflow: scroll;
  background-color: white;
}
.receiptBody_list:hover {
  background-color: #4edff910;
  border: 1px solid #355ec4;
}
.receiptBody_list:hover h3 {
  color: #355ec4;
}
.fa-receipt {
  grid-area: rBodyImg;
  place-self: center;
  font-size: 30px;
  background-color: #4edff9;
  color: #355ec4;
  padding: 15px;
  border-radius: 25px;
}
.receiptBody_title {
  grid-area: rBodyTitle;
  font-size: 20px;
  font-weight: 500;
  color: #ffa603;
}
.receiptBody_amt {
  grid-area: rBodyAmt;
  font-size: 15px;
  color: black;
}
.receiptBody_date {
  grid-area: rBodyAmt;
  font-size: 15px;
  color: black;
  justify-self: center;
}

/*Income Page*/
.incomeHeader {
  display: grid;
  grid-template-rows: [row1] 50% [row2] 50%;
  grid-template-columns: [col1] 50% [col2] 50%;
  grid-template-areas:
    "rHeaderH1 rHeaderImg"
    "rHeaderP rHeaderImg";
  margin: 20px 75px 0px 75px;
  max-height: 85vh;
}
.incomeHeader_img {
  grid-area: rHeaderImg;
  height: 60vh;
  width: 40vw;
}
.incomeHeader_p {
  grid-area: rHeaderP;
  justify-self: center;
  align-self: start;
  font-size: 17px;
}
.incomeHeader_h1 {
  grid-area: rHeaderH1;
  align-self: end;
  justify-self: center;
  font-size: 35px;
  color: #355ec4;
  -webkit-text-stroke: 1px #4edff9;
}
.income_body {
  display: grid;
  grid-template-columns: [col1] 25% [col2] 25% [col3] 25% [col4] 25%;
  margin: 20px 75px 0px 75px;
}
.income_body a {
  text-decoration: none;
}
.incomeDisplay {
  display: grid;
  grid-template-columns: [col1] 25% [col2] 75%;
  grid-template-rows: [row1] 50% [row2] 50;
  grid-template-areas:
    "incomeImg incomeDesc"
    "incomeImg incomeAmt";
  border: 1px solid rgba(128, 128, 128, 0.548);
  margin: 2px;
  background-color: white;
}
.incomeDisplay:hover {
  border: 1px solid #ffa603;
  background-color: #ffea0327;
}
.fa-money-bill {
  grid-area: incomeImg;
  font-size: 40px;
  place-self: center;
  color: #ffec03;
  background-color: #ffa603;
  padding: 10px;
  border-radius: 20px;
}
.incomeDisp_desc {
  grid-area: incomeDesc;
  color: black;
  justify-self: center;
  align-self: center;
  color: #355ec4;
  font-size: 17px;
}
.incomeDisp_amt {
  grid-area: incomeAmt;
  color: black;
  place-self: center;
}
.incomeBody_total {
  margin: 20px 75px 10px 75px;
  border-top: 1px solid black;
  padding-top: 10px;
}
.incomeBody_create {
  margin: 50px 75px 0px 75px;
  padding: 10px;
  border: 1px solid transparent;
  text-decoration: none;
  background-color: #ffa603;
  color: white;
  border-radius: 20px;
}
.incomeBody_create:hover {
  color: black;
  background-color: #4edff9;
}
.display_card {
  display: grid;
  background-color: rgb(195, 195, 216);
  box-shadow: 1px 1px 1px 1px black;
  border-radius: 5px;
  margin-bottom: 20px;
}

/*Summary Page*/
.summary_header {
  display: grid;
  grid-template-columns: [col1] 50% [col2] 50%;
  grid-template-areas: "summHeaderTitle summHeaderImg";
  margin: 50px 75px 0px 75px;
  background-color: white;
}
.summary_title {
  grid-area: summHeaderTitle;
  place-self: center;
}
.summary_header img {
  grid-area: summHeaderImg;
  height: 60vh;
  width: 40vw;
}
.summary_body {
  display: grid;
  grid-template-rows: [row1] 30% [row2] 25% [row3] 10% [row4] 10%;
  grid-template-columns: [col1] 50% [col2] 50%;
  grid-template-areas:
    "incomeTitle recTitle"
    "summInc summRec"
    "summIncTotal summRecTotal"
    "summBal .";
  margin: 50px 75px 0px 75px;
  padding: 10px;
}
.summary_incomeTitle {
  color: #ffa603;
  -webkit-text-stroke: 1px #ffec03;
  justify-self: start;
  padding: 3px;
  grid-area: incomeTitle;
  margin: 50px 75px 0px 5px;
  box-shadow: 1px 1px 10px black;
  border-radius: 5px 5px 0px 0px;
}
.summary_incomeList {
  grid-area: summInc;
  display: grid;
  grid-template-columns: [col1] 15% [col2] 15% [col3] 15% [col4] 15% [col5] 15%;
  justify-content: center;
  align-content: start;
  max-height: 50vh;
  max-width: 43vw;
  overflow: scroll;
  box-shadow: 0.5px 0.5px 10px black;
  border-radius: 10px;
  background-color: white;
}
.summary_incomeList h3 {
  text-decoration: underline;
  place-self: center;
}
.summary_incomeList p {
  place-self: center;
}
.summary_body a {
  place-self: center;
  font-size: 12px;
  border: 1px solid #ffec03;
  padding: 8px;
  border-radius: 5px;
  text-decoration: none;
  background-color: #ffa603;
  color: white;
}
.summary_body a:hover {
  border: 1px solid black;
  background-color: #ffa603;
  color: black;
}
.summary_incomeList #summary_iName {
  font-weight: bold;
}
.summary_receiptList #summary_recName {
  font-weight: bold;
}
.summary_receiptTitle {
  grid-area: recTitle;
  align-self: start;
  justify-self: start;
  color: #355ec4;
  padding: 3px;
  border-radius: 5px 5px 0px 0px;
  -webkit-text-stroke: 1px #4edff9;
  box-shadow: 1px 1px 10px black;
  margin: 50px 75px 0px 5px;
  background-color: white;
}
.summary_receiptList {
  grid-area: summRec;
  align-self: start;
  display: grid;
  grid-template-columns: [col1] 15% [col2] 15% [col3] 15% [col4] 15% [col5] 15%;
  justify-content: center;
  align-content: start;
  max-height: 50vh;
  width: 43vw;
  overflow: scroll;
  box-shadow: 0.5px 0.5px 10px black;
  border-radius: 5px;
  background-color: white;
}
.summary_receiptList h3 {
  text-decoration: underline;
}
.summary_incomeTotal {
  grid-area: summIncTotal;
  margin: 12px 0px 50px 5px;
}
.summary_receiptTotal {
  grid-area: summRecTotal;
  margin: 12px 150px 50px 5px;
}
.summary_balance {
  grid-area: summBal;
  border-top: 1px solid black;
  margin: 50px 75px 10px 75px;
}

/*Global Details Page*/
.det_body {
  margin: 50px 75px 10px 75px;
}
.det_title {
  color: #355ec4;
  font-size: 30px;
  border-bottom: 1px solid #355ec4;
}
.det_name {
  color: #4edff9;
  -webkit-text-stroke: 1px #355ec4;
}
.det_body a {
  padding: 10px;
  background-color: #4edff9;
  border: 1px solid #4edff9;
  text-decoration: none;
  border-radius: 15px;
}
.det_body a:hover {
  color: white;
  background-color: #355ec4;
}
.login_body {
  display: grid;
  padding: 20px;
  grid-template-rows: [row1] 10% [row2] 60% [row3] 10%;
  grid-template-columns: [col1] 100%;
  margin: 50px 75px 10px 75px;
  height: 80vh;
  box-shadow: 1px 1px 3px rgba(128, 128, 128, 0.685);
  grid-template-areas:
    "loginTitle"
    "loginForm"
    "loginSignUp";
  background-color: white;
}
.login_title {
  grid-area: loginTitle;
  margin: 50px 0px 0px 50px;
}
.login_form {
  grid-area: loginForm;
  display: grid;
  grid-template-rows: [row1] 5% [row2] 10% [row3] 7%;
  grid-template-columns: [col1] 40% [col2] 40%;
  grid-row-gap: 10px;
  grid-template-areas:
    "userLabel passLabel"
    "loginName loginPass"
    "loginSubmit .";
  grid-column-gap: 20px;
  justify-content: center;
  align-content: center;
}
.login_form #login_userName {
  grid-area: loginName;
}
.login_form #login_pass {
  grid-area: loginPass;
}
.login_form #login_userLabel {
  grid-area: userLabel;
}
.login_form #login_passLabel {
  grid-area: passLabel;
}
.login_form #login_submit {
  grid-area: loginSubmit;
  justify-self: start;
}
.login_SignUp {
  grid-area: loginSignUp;
  margin: 0px 0px 20px 150px;
}
/*Signup Page*/
.signup_body {
  display: grid;
  padding: 20px;
  grid-template-rows: [row1] 10% [row2] 80%;
  grid-template-columns: [col1] 100%;
  margin: 50px 75px 10px 75px;
  height: 80vh;
  box-shadow: 1px 1px 3px rgba(128, 128, 128, 0.685);
  grid-template-areas:
    "signupTitle"
    "signupForm";
  background-color: white;
}
.signup_title {
  grid-area: signupTitle;
  margin: 50px 0px 0px 50px;
}
.signup_form {
  grid-area: signupForm;
  display: grid;
  grid-template-rows: [row1] 3% [row2] 8% [row3] 3% [row4] 8% [row5] 3% [row6] 8% [row7] 5%;
  grid-template-columns: [col1] 40% [col2] 40%;
  grid-row-gap: 10px;
  grid-column-gap: 20px;
  grid-template-areas:
    "signupUserNameLabel signupPassLabel"
    "signupUserName signupPass"
    "signupfNameLabel signuplNameLabel"
    "signupfName signuplName"
    "signupEmailLabel signupbDayLabel"
    "signupEmail signupbDay"
    " signupSubmit .";
  justify-content: center;
  align-content: center;
}
.signup_form #userName {
  grid-area: signupUserName;
  margin: 5px;
}
.signup_form #userNameLabel {
  grid-area: signupUserNameLabel;
  justify-self: start;
}
.signup_form #pass {
  grid-area: signupPass;
  margin: 5px;
}
.signup_form #passLabel {
  grid-area: signupPassLabel;
  justify-self: start;
}
.signup_form #fName {
  grid-area: signupfName;
  margin: 5px;
}
.signup_form #fNameLabel {
  grid-area: signupfNameLabel;
  justify-self: start;
}
.signup_form #lName {
  grid-area: signuplName;
  margin: 5px;
}
.signup_form #lNameLabel {
  grid-area: signuplNameLabel;
  justify-self: start;
}
.signup_form #email {
  grid-area: signupEmail;
  margin: 5px;
}
.signup_form #emailLabel {
  grid-area: signupEmailLabel;
  justify-self: start;
}
.signup_form #bDay {
  grid-area: signupbDay;
  margin: 5px;
}
.signup_form #bDayLabel {
  grid-area: signupbDayLabel;
  justify-self: start;
}
.signup_form #signupSubmit {
  grid-area: signupSubmit;
  background-color: #355ec4;
  border: 1px solid #355ec4;
  color: white;
  font-size: 15px;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 5px;
  justify-self: start;
}
.signup_form #signupSubmit:hover {
  grid-area: signupSubmit;
  background-color: #4edff9;
  border: 1px solid #4edff9;
  color: black;
}
